<% if (query.showin == 'blank') { %>
    <%- include('includes/blankheader'); -%>
<% }else{ %>
    <%- include('includes/header'); -%>
<% } %>

<h3>Sent E-mail</h3>

<div class="panel panel-default">
    <div class="panel-body">

        <dl class="dl-horizontal">

            <dt>From</dt>
            <dd><%= email.headers.from %></dd>

            <dt>To</dt>
            <dd><%= email.headers.to %></dd>

            <dt>Date</dt>
            <dd><%= email.headers.date %></dd>

            <dt>Subject</dt>
            <dd><%= email.subject %></dd>

            <% if (query.showin == 'blank') { %>

            <dt>HTML</dt>
            <dd>
                <%- email.html %>
            </dd>

            <% }else{ %>

            <dt>HTML</dt>
            <dd>
                <textarea class="form-control" rows="5"><%= email.html %></textarea>
            </dd>

            <dt>Alternative text</dt>
            <dd>
                <textarea class="form-control" rows="5"><%= email.text %></textarea>
            </dd>

            <% } %>
        </dl>

        <% if (query.showin !== 'blank') { %>

        <dl class="dl-horizontal">

            <dt>&nbsp;</dt>
            <dd>
                <a href="/" class="btn btn-primary">
                    Back to e-mail list
                </a>
                <a href="/email/<%= email.messageId %>/?showin=blank"
                   target="_blank"
                   class="btn btn-primary">
                    Show this e-mail in a blank page
                </a>
            </dd>

        </dl>

        <% } %>



    </div>
</div>

<% if (query.showin == 'blank') { %>
<%- include('includes/blankfooter'); -%>
<% }else{ %>
<%- include('includes/footer'); -%>
<% } %>
