<%- include('header'); -%>

<h3>Sent E-Mails</h3>

<% if (emails.length) { %>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Subject</th>
        <th>To</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <% emails.forEach(function(email){ %>

    <tr>
        <td>
            <a href="/email/<%= email.messageId %>">
                <%= email.subject %>
            </a>
        </td>
        <td>
            <%= email.headers.to %>
        </td>
        <td>
            <%= email.headers.date %>
        </td>
        <td>
            <a class="btn btn-default btn-xs"
               href="/email/<%= email.messageId %>">
                open
            </a>
        </td>
    </tr>

    <% }) %>

    </tbody>
</table>
<% } %>

<%- include('footer'); -%>
