<%- include('includes/header'); -%>

<h3>Sent E-mails</h3>

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Subject</th>
                <th>To</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>


            <% if (emails.length) { %>

                <% emails.forEach(function(email){ %>

                <tr>
                    <td>
                        <a href="/email/<%= email.messageId %>">
                            <%= email.subject %>
                        </a>
                    </td>
                    <td>
                        <%= email.headers.to %>
                    </td>
                    <td>
                        <%= email.headers.date %>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs"
                           href="/email/<%= email.messageId %>">
                            open
                        </a>
                        <a href="/email/<%= email.messageId %>/?showin=blank"
                           target="_blank"
                           class="btn btn-primary btn-xs">
                            show blank
                        </a>

                    </td>
                </tr>

                <% }) %>

            <% } %>

            </tbody>
        </table>
</div>
</div>

<%- include('includes/footer'); -%>
