<%- include('header'); -%>

<h3>Status</h3>

<div class="panel panel-default">
    <div class="panel-body">

        <h4>SMTP</h4>

        <dl class="dl-horizontal">
            <dt>Port</dt>
            <dd><%= config.SMTP.port %></dd>

            <dt>Sent e-mails dir</dt>
            <dd><%= config.transport.json.saveto %></dd>
        </dl>

        <h4>Haraka</h4>

        <dl class="dl-horizontal">
            <dt>Config source dir</dt>
            <dd><%= config.haraka.config.source.dir %></dd>

            <dt>Config build dir</dt>
            <dd><%= config.haraka.config.build.dir %></dd>
        </dl>

    </div>
</div>

<%- include('footer'); -%>
